.place {
  width: 30px;
  height: 30px;
  background-color: #808080;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: #357fb1;
  }
}
.vip-place {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
  background-color: #da8383;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: #357fb1;
  }
}
.screen {
  width: 350px;
  height: 10px;
  background-color: #357fb1;
  margin-bottom: 50px;
  border-radius: 100% 100% 0 0;
}
