.user-icon {
  width: 34px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;
}
.select-options {
  background-color: #787978 !important;
  color: #ffffff !important;
  border: none !important;
  cursor: pointer;
}
