.button {
  background-color: #787978; /* Green */
  border: none;
  border-radius: 4px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.link {
  color: #fff;
  margin: 5px 15px;
  font-size: 16px;
  text-decoration: none;
}

.link:hover {
  color: #4ca3dd;
  transition: 200ms ease-in;
}
