.footer {
  padding: 30px 30px;
  background: #343a40;
  width: 100%;
  @media (max-width: 1000px) {
    padding: 70px 30px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
  }

  &-column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 60px;
  }

  &-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    grid-gap: 20px;

    @media (max-width: 1000px) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

  &-link {
    color: #fff;
    margin: 0 3px;
    padding: 5px 0;
    font-size: 16px;
    text-decoration: none;

    &:hover {
      color: #4ca3dd;
      transition: 200ms ease-in;
    }
  }

  &-heading {
    font-size: 20px;
    color: #4ca3dd;
    margin-bottom: 20px;
    font-weight: bold;
  }
}
