.button {
  background-color: #787978;
  border: none;
  border-radius: 4px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0 3px;
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: #4ca3dd !important;
    transition: 0.3 ease-in;
  }
}

.truncate-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 3.9em;
}

.w-40 {
  width: 40%;
}
