@import "./scss/variables";

.button {
  background-color: $btn-bg-color;
  border: none;
  border-radius: 4px;
  color: $btn-text-color;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $link-text-color;
  margin: 0 3px;
  padding: 5px 10px;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    color: $hover-link-color;
  }
}

.truncate-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 3.9em;
}

.w-40 {
  width: 40%;
}

.user-icon {
  width: 34px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 4px;
}
.select-options {
  cursor: pointer;
}
