$btn-text-color: #ffffff;
$btn-bg-color: #787978;
$link-text-color: #ffffff;
$hover-link-color: #4ca3dd;
$hover-btn-color: #4ca3dd;
$footer-bg-color: #343a40;
$place-bg-color: #808080;
$place-hover-color: #4ca3dd;
$vip-place-color: #da8383;
$screen-bg-color: #357fb1;
